<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/style.css">
    <title>Document</title>
</head>
<body>
<div class="header">
        <div class="container">
            <div class="brand">
                <div class="img">
                    <img src="logo.png" alt="le logo">
                </div>
            </div>
            <div class="nav">
                <input type="text" class="recherche">
                <div class="but">
                    <div class="content">
                        <p>Recherche</p>
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="btn">
                   <a href="connexion.html">
                    <div class="content">
                        <p>Se deconnecter</p>
                    </div>
                   </a>
                </div>
            </div>
            <div class="button">
                <div class="btn">
                   <a href="accueil.html">
                    <div class="content">
                        <p>Accueil</p>
                    </div>
                   </a>
                </div>
            </div>
        </div>
    </div>
<div class="corps">
    <button>Ajouter</button>
<div class="content" >
                    <table >
                        <thead>
                            <tr>
                            <th>Nom</th>
                            <th>Niveau</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                                <td>CM1</td> 
                                <td>Primaire</td>
                                
                            </tr> 
                            <tr>
                                <td>CE1</td>
                                <td>Primaire</td>
                               
                            </tr> 
                            
                        </tbody>
                    </table>
                </div>
            </div>
</div>

</body>
</html>